___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [6]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        if a < b:
            return a
        else:
            return b
    else:
        if b < a:
            return a
        else:
            return b

lesser_of_two_evens(2,5)

5

In [7]:
# Check
lesser_of_two_evens(2,4)

2

In [8]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [31]:
def animal_crackers(text):
    text = text.lower().split()
    if text[0][0] == text[1][0]:
        print(True)
    else:
        print(False)

text = 'Crazy Kangaroo'
text = text.split()
text
text[0][0]
text[1][0]

animal_crackers('Crazy Kangaroo')

['Crazy', 'Kangaroo']

'C'

'K'

False

In [32]:
# Check
animal_crackers('Levelheaded Llama')

True

In [33]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [20]:
def makes_twenty(n1,n2):
    if sum((n1,n2)) == 20:
        return True
    elif n1 == 20 or n2 == 20:
        return True
    else:
        return False

makes_twenty(20,10)

True

In [21]:
# Check
makes_twenty(20,10)

True

In [22]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [38]:
def old_macdonald(name):
    text = ''
    n = 0
    name = name.capitalize()
    for idx in name:
        if n == 3:
            text += idx.upper()
        else:
            text += idx
        n += 1
    return text

old_macdonald('macdonald')

'MacDonald'

In [40]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [61]:
def master_yoda(text):
    text = text.split()
    words = ''
    n = 0
    for idx in text:
        words += text[-1+n]
        n -= 1
        words += ' '
    
    words = words.split()
    # use join function
    words = " ".join(words)
    return words

master_yoda('I go to school every day')

'day every school to go I'

In [62]:
# Check
master_yoda('I am home')

'home am I'

In [63]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [70]:
def almost_there(n):
    if abs(n-100) <= 10:
        return True
    elif abs(n-200) <= 10:
        return True
    else:
        return False
    
almost_there(90)

True

In [68]:
# Check
almost_there(104)

True

In [69]:
# Check
almost_there(150)

False

In [71]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [97]:
def has_33(nums):
    mylist = []
    for idx in nums:
        if idx == 3:
            mylist.append(idx)
        else:
            mylist.clear()
    print(mylist)       
    if len(mylist) == 1:
        return False
    else:
        return True
    
has_33([1, 3, 3])
has_33([1, 3, 1, 3])
has_33([1, 3, 3, 3])
has_33([3, 1, 3, 1, 5, 3])

[3, 3]

True

[3]

False

[3, 3, 3]

True

[3]

False

In [94]:
# Check
has_33([1, 3, 3])

True

In [95]:
# Check
has_33([1, 3, 1, 3])

False

In [96]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [98]:
def paper_doll(text):
    long_text = ''
    for idx in text:
        long_text += (idx*3)
    return long_text

paper_doll('Hello')

'HHHeeellllllooo'

In [99]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [100]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [102]:
def blackjack(a,b,c):
    total = sum((a,b,c))
    if total <= 21:
        return total
    else:
        if a == 11 or b == 11 or c == 11:
            return (total-10)
        else:
            return 'BUST'

blackjack(5,6,7)
blackjack(9,9,9)
blackjack(9,9,11)

18

'BUST'

19

In [103]:
# Check
blackjack(5,6,7)

18

In [104]:
# Check
blackjack(9,9,9)

'BUST'

In [105]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [120]:
def summer_69(arr):
    total = sum((arr))
    mylist = []
    for idx in arr:
        if idx == 6:
            mylist.append(idx)
        else:
            if idx == 9:
                mylist.append(idx)
                break
            else:
                mylist.clear()
    
    if len(mylist) == 0:
        return total
    elif len(mylist) == 1:
        return sum((mylist))
    else:
        return (arr[-1] + (abs(mylist[0]-mylist[1])))

summer_69([1, 3, 5])
summer_69([4, 5, 6, 7, 8, 9])
summer_69([2, 1, 6, 9, 15, 12])

9

9

15

In [116]:
# Check
summer_69([1, 3, 5])

9

In [117]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [118]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [9]:
def spy_game(nums):
    mylist = []
    # First Step: Slice the list to filter number 0,0,7 to a new list mylist
    for idx in nums:
        if idx == 0 or idx == 7:
            mylist.append(idx)
        else:
            pass
    print(mylist)
    # Second Step: from the new list that contains number, check the list, and output return True if it is 0,0,7
    if mylist[0] == 0 and mylist[1] == 0 and mylist[2] == 7:
        return True
    else:
        return False

spy_game([1,2,4,0,0,7,5])
spy_game([1,0,2,4,0,5,7])
spy_game([1,7,2,0,4,5,0])

[0, 0, 7]

True

[0, 0, 7]

True

[7, 0, 0]

False

In [6]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [7]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [8]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [17]:
def count_primes(num):
    mylist = []
    for idx in range(0,num+1):
        if idx == 0 or idx == 1:
            pass
        elif idx == 2 or idx == 3 or idx == 5 or idx == 7:
            mylist.append(idx)
        elif idx % 2 == 0 or idx % 3 == 0 or idx % 5 == 0 or idx % 7 == 0:
            pass
        else:
            mylist.append(idx)
    print(mylist)
    return len(mylist)
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [26]:
# Bilangan prima adalah bilangan yang tidak akan habis dibagi dengan bilangan apapun kecuali dibagi dengan dirinya sendiri.
# Code for prime numbers
def count_primes(num):
    mylist = []
    for idx in range(0,num+1):
        flag = 0
        if idx < 2:
            continue
        elif idx == 2:
            mylist.append(idx)
            continue
        else:
            # iterable for checking prime numbers
            for x in range(2,idx):
                if idx % x == 0:
                    flag = 1
                    break
                else:
                    flag = 0
                    continue
            if flag == 0:
                mylist.append(idx)
    print(mylist)

count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [18]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [34]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*  * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [39]:
print_big('e')

*****
*
*****
*
*****

## Great Job!