# Numbers

In [4]:
3/2
5/2
2/2
7 % 3
50 % 5
2 ** 3
2 + 10 * 10 + 3

1.5

2.5

1.0

1

0

8

105

### Variable assignment

In [7]:
my_dog = 1
my_dog
type(my_dog)

1

int

In [8]:
b = 30.1
type(b)

float

In [10]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate
my_taxes

10.0

# STRINGS
## Keyword: Ordered sequences, Indexing, Slicing [start:stop:step], unmutable.
### start index always included.
### stop index not always included.

In [12]:
'hello'
"hello"
'this is also a string'
"Hi I'm going to meet you"

'hello'

'hello'

'this is also a string'

"Hi I'm going to meet you"

In [13]:
print('hello')
print("hello")
print('this is also a string')
print("Hi I'm going to meet you")

hello
hello
this is also a string
Hi I'm going to meet you

In [16]:
print('hello \nworld')
print('hello\tworld')

hello
world
hello	world

In [17]:
len('hello')

5

In [25]:
# Indexing
mystring = 'Hello World'
mystring
mystring[0]
mystring[1]
mystring[8]
mystring[-1]
mystring[-2]

'Hello World'

'H'

'e'

'r'

'd'

'l'

In [36]:
# Slicing
mystring = 'abcdefghijk'
mystring
mystring[2:]
mystring[:3]
mystring[2:5]
mystring[::]
mystring[::2] # start always from 0 which is a
mystring[2:7:2]
mystring[::-1] # reverse indexing

'abcdefghijk'

'cdefghijk'

'abc'

'cde'

'abcdefghijk'

'acegik'

'ceg'

'kjihgfedcba'

In [40]:
# Immutability
firstname = 'Andar'

# change firstname to be 'Endar'
textname = firstname[1:]
'E' + textname

'Endar'

In [48]:
x = 'Hello This is my world'
x.upper()
x = x.upper()
x
x = x.lower()
x.split() # Function split() to split each word until find space and make them to be 1 list
x.split('i') # Function split('i) to split each word until find char 'i' and make them to be 1 list

'HELLO THIS IS MY WORLD'

'HELLO THIS IS MY WORLD'

['hello', 'this', 'is', 'my', 'world']

['hello th', 's ', 's my world']

In [61]:
# Print variables
# using .format() and f-strings

# using .format() method
print('This is a string {}'.format('INSERTED'))
print('Hello my name is {}. I am a {} of {}'.format('Andar','student','UNSW'))
print('I like to eat {},{},{}'.format('apple','fish','snack'))
print('I like to eat {0},{0},{0}'.format('apple','fish','snack'))
print('I like to eat {f},{a},{s}'.format(a='apple',f='fish',s='snack'))

# using f-strings
name = 'Andar'
print(f'Hello my name is {name}')

This is a string INSERTED
Hello my name is Andar. I am a student of UNSW
I like to eat apple,fish,snack
I like to eat apple,apple,apple
I like to eat fish,apple,snack
Hello my name is Andar

In [59]:
# Float formatting follows "{value:width.precision f}"
result = 100/77
result
print('The test result is {r}'.format(r = result))
print('The test result is {r:1.3f}'.format(r = result))
print('The test result is {r:10.3f}'.format(r = result))  # 10 is width of space, 3 is how many numbers beside comma
print('The test result is {r:1.4f}'.format(r = result))

1.2987012987012987

The test result is 1.2987012987012987
The test result is 1.299
The test result is      1.299
The test result is 1.2987

# LISTS
## Keyword: ordered sequences, slicing, indexing, mutable

In [75]:
mylist = [1,2,3]
mylist = ['STRING', 100, 232.5]
len(mylist)
mylist[0]
mylist[1:]
another_list = ['three', 'four']
new_list = mylist + another_list
new_list
new_list[0] = 'one'
new_list
new_list.append('five')
new_list

new_list.pop() # pop() is the function to remove last member of list
new_list.pop(0) # pop(0) is the function to remove the first member of list

new_list = ['a','e','x','b','c']
num_list = [4,1,3,6]
new_list.sort()
my_new_list = new_list 
my_new_list

3

'STRING'

[100, 232.5]

['STRING', 100, 232.5, 'three', 'four']

['one', 100, 232.5, 'three', 'four']

['one', 100, 232.5, 'three', 'four', 'five']

'five'

'one'

['a', 'b', 'c', 'e', 'x']

# DICTIONARIES
## Keyword: un-ordered mappings.
## {'key1':'value1','key2':'value2'}
### Dictionaries : objects retrieved by key name. Unordered and can not be sorted.
### Lists : objects retrieved by location. Ordered sequence can be indexed or sliced.

In [97]:
my_dict = {'key1':'value1', 'key2':'value2'}
my_dict
my_dict['key1']
prices_lookup = {'apple': 2.99, 'orange':3, 'banana': 1}
prices_lookup['apple']

d = {'k1':123, 'k2':[3,1,4], 'k3':{'insideKey':3}}
d['k3']
d['k3']['insideKey']
d['k2']
d['k2'][0]

d = {'key1':['a','b','c']}
d['key1'][2].upper()
# high technical to change the value of key1 which consist of List member.
# Remember in List: [1] + [2] + [3] = [1,2,3]
d['key1'] = [d['key1'][0]] + [d['key1'][1]] + [d['key1'][2].upper()]    # high technical to change the value of key1 which consist of List member.
d

d = {'k1':100, 'k2':200}
d
d['k3'] = 300 # add new key k3 to the dictionaries with its value
d
d.keys()
d.values()
d.items()

{'key1': 'value1', 'key2': 'value2'}

'value1'

2.99

{'insideKey': 3}

3

[3, 1, 4]

3

'C'

{'key1': ['a', 'b', 'C']}

{'k1': 100, 'k2': 200}

{'k1': 100, 'k2': 200, 'k3': 300}

dict_keys(['k1', 'k2', 'k3'])

dict_values([100, 200, 300])

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

# TUPLES
## Keyword : immutability. Tuples uses paranthesis (1,2,3)
## Tuples is similar with List

In [147]:
t = (1,2,3)
mylist = [4,5,6]
len(t)
len(mylist)

t = ('a','a','b')
t.count('a')
t.index('a')
t.index('b')

mylist[0] = 'NEW'
mylist
t[2]

3

3

2

0

2

['NEW', 5, 6]

'b'

# SETS
## Keyword: unordered collections of unique elements.

In [112]:
myset = set() # how to make set, always use set() function
myset
myset.add(1)
myset
myset.add('two')
myset

# try to add same value to the set the number 1, it will not make it. Because set has unique elements
myset.add(1)
myset

set('Mississipi')

set()

{1}

{1, 'two'}

{1, 'two'}

{'M', 'i', 'p', 's'}

# BOOLEAN
## Keyword: True or False

In [115]:
True
False
type(True)

1 > 2
4 < 1

True

False

bool

False

False

# FILES
## Works with basic.txt
## Keyword: %%writefile namefile.txt

In [137]:
%%writefile basic.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting basic.txt

In [144]:
myfile = open('D:\\UNSW\\COMP9021\\_Bootcamp_\\Training\\basic.txt')
myfile.read()

myfile.seek(0)  # to reset the cursor after read back to 0 position
myfile.read()

myfile.seek(0)
myfile.readlines() # to make the content of file to be a List

with open('basic.txt') as my_new_file:
    contents = my_new_file.read()
contents

# mode: r for read only,w for write only, a for append only, r+ for reading and writing, w+ for writing and reading.
with open('basic.txt',mode='r') as myfile:
    contents = myfile.read()
    
with open('basic.txt', mode='a') as myfile:
    myfile.write('FOUR ON FOURTH')

# read the file
with open('basic.txt', mode='r') as f:
    print(f.read())

with open('testingnewfile.txt',mode='w') as f:
    f.write('This is a new file')

with open('testingnewfile.txt',mode='r') as f:
    f.read()

'ONE ON FIRST\nTWO ON SECOND\nTHREE ON THIRD\nFOUR ON FOURTHFOUR ON FOURTHFOUR ON FOURTHFOUR ON FOURTHFOUR ON FOURTH'

0

'ONE ON FIRST\nTWO ON SECOND\nTHREE ON THIRD\nFOUR ON FOURTHFOUR ON FOURTHFOUR ON FOURTHFOUR ON FOURTHFOUR ON FOURTH'

0

['ONE ON FIRST\n',
 'TWO ON SECOND\n',
 'THREE ON THIRD\n',
 'FOUR ON FOURTHFOUR ON FOURTHFOUR ON FOURTHFOUR ON FOURTHFOUR ON FOURTH']

'ONE ON FIRST\nTWO ON SECOND\nTHREE ON THIRD\nFOUR ON FOURTHFOUR ON FOURTHFOUR ON FOURTHFOUR ON FOURTHFOUR ON FOURTH'

14

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTHFOUR ON FOURTHFOUR ON FOURTHFOUR ON FOURTHFOUR ON FOURTHFOUR ON FOURTH

18

'This is a new file'

In [119]:
pwd

'D:\\UNSW\\COMP9021\\_Bootcamp_\\Training'