# Comparison Operators in Python

In [5]:
2 == 2
2 == 2.0
2 < 1
'hello' == 'HELLO'
'2' == 2

True

True

False

False

False

# Chaining Comparison Operators
## Keyword: AND, OR, NOT

In [11]:
1 < 2
2 < 3
1 < 2 < 3  
1 < 2 < 0
1 < 2 and 2 < 3   # CHAINING COMPARISON, and will generate TRUE if all condition is TRUE.
1 == 2 or 2 != 3  # CHAINING COMPARISON, or will generate TRUE if one condition is TRUE.
not 1==1          # CHAINING COMPARISON, not will generate an opposite boolean of condition.

True

True

True

False

True

True

False

# IF, ELIF, ELSE STATEMENTS
## Keyword: Control Flow (condition and action) uses of colons, and indentation (whitespace).
### if some_condition:
###      # execute some code
### elif some_other_condition:
###      # execute some code
### else:
###      # do something else

In [18]:
hungry = False
if hungry:
    print('Feed Me!')
else:
    print('I am not hungry')

I am not hungry

In [20]:
loc = 'Game'
if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Home':
    print('Home sweet Home!')
else:
    print('I do not know much.')

I do not know much.

In [26]:
name = 'Blacky'
if name == 'Frankie':
    print('Hello Frankie!')
elif name == 'Andar':
    print('Hello Andar')
elif name == 'Nella':
    print('Hello Nella!')
elif name == 'Blacky':
    print('Hello Blacky!')
else:
    print('What is your name?')

Hello Blacky!

# FOR LOOPS in Python
## Keyword : iterable (iterate over the object)
### my_iterable = [1,2,3]
### for item_name in my_iterable:
###     print(item_name)

In [27]:
mylist = [1,2,3,4,5,6,7,8,9,10]
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [29]:
mylist = [1,2,3,4,5,6,7,8,9,10]
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [30]:
mylist = [1,2,3,4,5,6,7,8,9,10]
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd Number is {d}'.format(d=num))

Odd Number is 1
2
Odd Number is 3
4
Odd Number is 5
6
Odd Number is 7
8
Odd Number is 9
10

In [33]:
mylist = [1,2,3,4,5,6,7,8,9,10]
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
print(list_sum)

55

In [34]:
mystring = 'Hello Word'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
d

In [35]:
tup = (1,2,3)  # Tuples
for item in tup:
    print(item)

1
2
3

In [37]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
len(mylist)
for item in mylist:
    print(item)

4

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [41]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
for a,b in mylist:     # Tuples, () is paranthesis
    print(a)

1
3
5
7

In [42]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in mylist:
    print(c)

3
6
9

In [43]:
# Loop in Dictionaries
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [44]:
# Loop in Dictionaries
d = {'k1':1,'k2':2,'k3':3}
for item,value in d:
    print(value)

1
2
3

In [47]:
# Loop in Dictionaries
d = {'k1':1,'k2':2,'k3':3}
for value in d.values():   # d.values() is iterable specific to each value of dictionaries
    print(value)

1
2
3

# While Loops in Python
## Keyword: while remains True
### while some_boolean_condition:
###       # do something
### else:
###       # do something different

In [4]:
x = 0
while x < 5:
    print('The current value of x is {a}'.format(a=x))
    x += 1
else:
    print('{b} is not less than 5'.format(b=x))

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
5 is not less than 5

In [5]:
# break, continue, pass
x = [1,2,3]
for item in x:
    pass
print('end of my script')

end of my script

In [8]:
# break, continue, pass
mystring = 'Sammy'
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [10]:
# break, continue, pass
mystring = 'Sammy'
for letter in mystring:
    if letter == 'y':
        break
    print(letter)

S
a
m
m

# Useful Operators in Python
### range(start,stop,step)
### enumerate() = is to make index and item to be Tuples
### zip() = is to merge lists to be Tuples
### in = is to check item in List, Dictionaries, and produce Boolean result
### min = is to find the minimum number in the list
### max = is to find the maximum number in the list
### from random import shuffle = is to import features shuffle in library, to shuffle item in List
### from random import randint = is to import features randint in library, to make random number output
### input = is to receive input from user as a string

In [11]:
mylist = [1,2,3]
for num in range(5):
    print(num)

0
1
2
3
4

In [13]:
mylist = [1,2,3]
for num in range(1,5):
    print(num)

1
2
3
4

In [15]:
mylist = [1,2,3]
for num in range(1,5,2):
    print(num)

1
3

In [20]:
mylist = list(range(0,10,2))
mylist

[0, 2, 4, 6, 8]

In [21]:
index_count = 0
for letter in 'abcde':
    print('At index {a} the letter is {b}'.format(a=index_count,b=letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [22]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [23]:
# Enumerate
word = 'abcde'
for letter in enumerate(word): # Enumerate is to mix index and the item, so it will be Tuples.
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [26]:
# Zip
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [27]:
# Zip
# to combine all list to be 1 list together
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [29]:
# in
'a' in ['a','b']
'a' in [1,2,'b']

True

False

In [30]:
# min, max
mylist = [1,2,3,4,5,6,7]
min(mylist)
max(mylist)

1

7

In [34]:
# import
mylist = [1,2,3,4,5,6,7,8,9,10]
from random import shuffle
shuffle(mylist)
mylist

[5, 7, 10, 3, 8, 1, 6, 9, 2, 4]

In [36]:
# import
mylist = [1,2,3,4,5,6,7,8,9,10]
from random import randint
randint(0,100)

42

In [38]:
# input
result = input('Enter a number here: ')
int(result)
float(result)

Enter a number here:  35

35

35.0

# LIST Comprehensions in Python

In [42]:
mystring = 'hello'
mylist = []

# first way
for letter in mystring:
    mylist.append(letter)
mylist

# another way
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

['h', 'e', 'l', 'l', 'o']

In [55]:
mylist = [x for x in 'Andar']
mylist

mynum = [num for num in range(0,10,2)]
mynum

mynum = [num**2 for num in range(0,10,2)]
mynum

mynum = [num for num in range(0,20) if num % 2 == 0]
mynum

celcius = [0,10,20,34.5]
fahrenheit = [((9/5) * temp + 32) for temp in celcius]
fahrenheit

fahrenheit=[]
for temp in celcius:
    fahrenheit.append(((9/5) * temp + 32))
fahrenheit

# odd way use if then else in List Comprehension
results = [x if x%2 == 0 else 'ODD' for x in range(0,10)]
results

mylist = []

# nested for - first way
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)
mylist

# nested for - second way
mylist = [x*y for y in [100,200,300] for x in [2,4,6]]
mylist

['A', 'n', 'd', 'a', 'r']

[0, 2, 4, 6, 8]

[0, 4, 16, 36, 64]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

[32.0, 50.0, 68.0, 94.1]

[32.0, 50.0, 68.0, 94.1]

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD']

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]